<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0/EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="codej.codemarket.mappers.AttachMapper">

    <sql id="attachColumns">
        idx,
        board_idx,
            original_name,
            save_name,
            size,
            delete_yn,
            insert_time,
            delete_time
    </sql>

    <insert id="insertAttach" parameterType="java.util.List">
        insert into tb_attach(
        <include refid="attachColumns"/>
        )values
             <foreach collection="list" item="item" separator=",">
                 (
                  #{item.idx},
                  #{item.boardIdx},
                  #{item.originalName},
                  #{item.saveName},
                  #{item.size},
                  'N',
                  now(),
                  null
                 )
             </foreach>
    </insert>

    <select id="selectAttachDetail" parameterType="Long" resultType="attachDTO">
        select
            <include refid="attachColumns"/>
        from
            tb_attach
        where
            delete_yn ='N'
        and
            idx = #{idx}
    </select>

    <update id="deleteAttach" parameterType="Long"  >
        update
            tb_attach
        set
            delete_yn = 'Y',
            delete_time = now()
        where
            board_idx = #{boardIdx}

    </update>

    <select id="selectAttachList" parameterType="Long" resultType="attachDTO">
        select
            <include refid="attachColumns"/>
        from
            tb_attach
        where
            delete_yn = 'N'
        and
            board_idx = #{boardIdx}
    </select>

    <select id="selectAttachTotalCount" parameterType="Long">
        select
            count(*)
        from
            tb_attach
        where
            delete_yn ='N'
        and
            board_idx = #{boardIdx}
    </select>
</mapper>