<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0/EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="codej.codemarket.mappers.BoardMapper">

    <sql id="boardColumns">
        idx,
        title,
        content,
            writer,
            view_cnt,
            notice_yn,
            secret_yn,
            delete_yn,
            insert_time,
            update_time,
            delete_time
    </sql>

    <insert id="insertBoard" parameterType="BoardDTO">
        insert into tb_board(
                             <include refid="boardColumns"/>
        )values (
                 #{idx}
                 ,#{title}
                 ,#{content}
                 ,#{writer}
                 ,0
                 ,IFNULL(#{noticeYn},'N')
                 ,IFNULL(#{secretYn},'N')
                 ,'N'
                 ,now()
                 ,NULL
                 ,NULL
        )
    </insert>

    <select id="selectBoardDetail" resultType="BoardDTO" parameterType="Long">
        select
            <include refid="boardColumns"/>
        from
            tb_board
        where
            delete_yn = 'N'
        and
            idx = #{idx}
    </select>

    <update id="updateBoard"  parameterType="BoardDTO" >
        update tb_board
        set
            update_time = now(),
            title = #{title},
            content = #{content},
            writer = #{writer},
            notice_yn = IFNULL(#{noticeYn},'N'),
            secret_yn = IFNULL(#{secretYn},'N')
        where
            idx = #{idx}


    </update>

    <update id="deleteBoard" parameterType="Long" >
        update
            tb_board
        set
            delete_yn = 'Y',
            delete_time = now()
        where
            idx = #{idx}
    </update>

    <select id="selectBoardList" resultType="BoardDTO">
        select
            <include refid="boardColumns"/>
        from
            tb_board
        where
            delete_yn = 'N'
        order by
            notice_yn asc ,
            idx desc ,
            insert_time desc
    </select>

    <select id="selectBoardTotalCount" resultType="int">
        select
            count(*)
        from
            tb_board
        where
            delete_yn = 'N'
    </select>
</mapper>