<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0/EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="codej.codemarket.mappers.BoardMapper">

    <sql id="boardColumns">
        idx,
        title,
        content,
            writer,
            view_cnt,
            notice_yn,
            secret_yn,
            delete_yn,
            insert_time,
            update_time,
            delete_time
    </sql>

    <sql id="paging">
        limit
        #{paginationInfo.firstRecordIndex},#{recordsPerPage}
    </sql>

    <!-- MySQL 검색 -->
    <sql id="search">
        <!-- 검색 키워드가 있을 때 -->
        <if test="searchKeyword != null and searchKeyword != ''">
            <choose>
                <!-- 검색 유형이 있을 때 -->
                <when test="searchType != null and searchType != ''">
                    <choose>
                        <when test="'title'.equals(searchType)">
                            AND title LIKE CONCAT('%', #{searchKeyword}, '%')
                        </when>
                        <when test="'content'.equals(searchType)">
                            AND content LIKE CONCAT('%', #{searchKeyword}, '%')
                        </when>
                        <when test="'writer'.equals(searchType)">
                            AND writer LIKE CONCAT('%', #{searchKeyword}, '%')
                        </when>
                    </choose>
                </when>
                <!-- 검색 유형이 없을 때 -->
                <otherwise>
                    AND
                    (
                    title LIKE CONCAT('%', #{searchKeyword}, '%')
                    OR content LIKE CONCAT('%', #{searchKeyword}, '%')
                    OR writer LIKE CONCAT('%', #{searchKeyword}, '%')
                    )
                </otherwise>
            </choose>
        </if>
    </sql>

    <insert id="insertBoard" parameterType="boardDTO">
        insert into tb_board(
                             <include refid="boardColumns"/>
        )values (
                 #{idx}
                 ,#{title}
                 ,#{content}
                 ,#{writer}
                 ,0
                 ,IFNULL(#{noticeYn},'N')
                 ,IFNULL(#{secretYn},'N')
                 ,'N'
                 ,now()
                 ,NULL
                 ,NULL
        )
<selectKey keyProperty="item.idx" resultType="Long" order="AFTER">
    select LAST_INSERT_ID()
</selectKey>
    </insert>

    <select id="selectBoardDetail" resultType="BoardDTO" parameterType="Long">
        select
            <include refid="boardColumns"/>
        from
            tb_board
        where
            delete_yn = 'N'
        and
            idx = #{idx}
    </select>

    <update id="updateBoard"  parameterType="BoardDTO" >
        update tb_board
        set
            update_time = now(),
            title = #{title},
            content = #{content},
            writer = #{writer},
            notice_yn = IFNULL(#{noticeYn},'N'),
            secret_yn = IFNULL(#{secretYn},'N')
        where
            idx = #{idx}


    </update>

    <update id="deleteBoard" parameterType="Long" >
        update
            tb_board
        set
            delete_yn = 'Y',
            delete_time = now()
        where
            idx = #{idx}
    </update>

    <select id="selectBoardList" resultType="BoardDTO" parameterType="BoardDTO">
        select
            <include refid="boardColumns"/>
        from
            tb_board
        where
            delete_yn = 'N'
        <include refid="search" />
        order by
            notice_yn asc ,
            idx desc ,
            insert_time desc
        <include refid="paging" />
    </select>

    <select id="selectBoardTotalCount"   parameterType="BoardDTO"  resultType="int">
        select
            count(*)
        from
            tb_board
        where
            delete_yn = 'N'
        <include refid="search"/>
    </select>

    <update id="updateBoardViewCnt">
        update
            tb_board
        set
            view_cnt = view_cnt+1
        where
            idx = #{idx}
    </update>
</mapper>