<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0/EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="codej.codemarket.mappers.CommentMapper">


    <sql id="commentColumns">
        idx,
        board_idx,
            content,
            writer,
            delete_yn,
            insert_time,
            update_time,
            delete_time
    </sql>

    <insert id="insertComment" parameterType="commentDTO">
        insert into tb_comment(
                               <include refid="commentColumns"/>
        )values (
                 #{idx},
                 #{boardIdx},
                 #{content},
                 #{writer},
                 IFNULL(#{deleteYn},'N'),
                 now(),
                 null,
                 null

        )
    </insert>

    <select id="selectCommentDetail" parameterType="Long" resultType="commentDTo">
        select
            <include refid="commentColumns"/>
        from
            tb_comment
        where
            delete_yn ='N'
        and
            idx = #{idx}
    </select>

    <update id="updateComment" parameterType="commentDTO">
        update
            tb_comment
        set
           update_time = now(),
           content = #{content},
           writer = #{writer}
        where
            idx =#{idx}

    </update>

    <update id="deleteComment" parameterType="Long">
        update
            tb_comment
        set
            delete_yn = 'Y',
            delete_time = now()
        where
            idx = #{idx}

    </update>

    <select id="selectCommentList" parameterType="commentDTO" resultType="commentDTO">
        select
            <include refid="commentColumns"/>
        from
            tb_comment
        where
            delete_yn = 'N'
        and
            board_idx = #{boardIdx}
        order by
            idx desc,
            insert_time desc
    </select>

    <select id="selectCommentTotalCount" parameterType="commentDTO" resultType="int">
        select
            count(*)
        from
            tb_comment
        where
            delete_yn ='N'
        and
            board_idx = #{boardIdx}
    </select>

</mapper>