<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="jdbcTypeForNull" value="NULL"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <typeAlias alias="boardDTO" type="codej.codemarket.domain.BoardDTO"/>
        <typeAlias alias="criteria" type="codej.codemarket.paging.Criteria"></typeAlias>
        <typeAlias alias="commentDTO" type="codej.codemarket.domain.CommentDTO"></typeAlias>
        <typeAlias alias="attachDTO" type="codej.codemarket.domain.AttachDTO"></typeAlias>
        <typeAlias alias="hobbyDTO" type="codej.codemarket.domain.HobbyDTO"/>
        <typeAlias type="codej.codemarket.domain.UserDTO" alias="userDTO" />
        <typeAlias type="codej.codemarket.domain.User" alias="user" />
        <typeAlias type="codej.codemarket.domain.MemberDTO" alias="memberDTO"/>
        <typeAlias type="codej.codemarket.domain.Notice" alias="noticeDTO"/>
        <typeAlias type="codej.codemarket.domain.Follow" alias="followDTO"/>
    </typeAliases>




</configuration>