<html>
	<head>
		<meta charset="UTF-8">
		<title>게시판 글</title>
		<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
	</head>
	<body>
		<table border="1">
			<thead >
				<tr>
					<th>번호</th>
					<th>제목</th>
					<th>본문</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>1번제목</td>
					<td>1번본문</td>
				</tr>
				<tr>
					<td>2</td>
					<td>2번제목</td>
					<td>2번본문</td>
				</tr>
				<tr>
					<td>3</td>
					<td>3번제목</td>
					<td>3번본문</td>
				</tr>
				<tr>
					<td>4</td>
					<td>4번제목</td>
					<td>4번본문</td>
				</tr>
				<tr>
					<td>5</td>
					<td>5번제목</td>
					<td>5번본문</td>
				</tr>
			</tbody>
		</table>
		<script>
			$(document).ready(function() {
				alert('뻐꾹');
			});
		</script>
	</body>
</html>

	